<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  </head>

  <body>

  <!-- Wrapping content -->
  <div id="wrap">

    <div class="container">

      <div class="header">
	<ul class="nav navbar navbar-default pull-right">
          <li><a href="/">home</a></li>
	</ul>
	<h3><a class= "text-muted" href="/">josh.broderson.org</a><h3>
      </div><!-- /header -->

      <div class="hero-unit">
	{{ content }}
      </div> <!-- end main -->

      <div class="footer">
      </div><!-- end footer -->

    </div> <!-- end container -->
  
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  </body>
</html>
